/* This will be the top CSS file */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Rubik+Microbe&display=swap');

/* 
    font-family: 'Dancing Script', cursive;

    font-family: 'Poppins', sans-serif;

    font-family: 'Rubik Microbe', cursive;
*/

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:focus {
    color: yellow;
    cursor: pointer;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    max-height: 100%;
    max-width: auto;
    
}

header {
    z-index: 12;
    position: fixed;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
}

.nav-bar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(198, 211, 208, 0.6);
    min-height: auto;
}

.brand {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.brand img {
    max-width: 8em;
    height: auto;
    padding: 10px 4px 6px 0px;
}

#site-title {
    font-size: 1.5rem;
}

.nav-menu {
    display: flex;
    justify-items: center;
}
    
.menu-items {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding-right: 4px;
    font-size: 1rem;
}

.menu-items li {
    padding: 0 10px 0 8px;
    gap: 4px;
}

.nav-menu > button {
    font-size: 0.95rem;
    border-radius: 10%;
}

.nav-menu > button:hover,
.nav-menu > button:focus {
    z-index: 2;
    font-weight: bold;
    color: rgb(255, 72, 0);
}

.nav-menu > button::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.2);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
}

.nav-menu > button:hover::before,
.nav-menu > button:focus::before {
    transform: scaleX(1);
}

.hero::before {
    display: block;
    content: '';
    height: 140px;
    background-color: white;
}

.hero {
    min-height: 90vh;
    background-color: rgba(80, 92, 91, 0.6);
}

.hero > h1 {
    font-family: 'Rubik Microbe', cursive;
}
