/* This will be the top CSS file */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+Mono:wght@200&family=Poppins&family=Rubik+Microbe&display=swap');
/* 
    font-family: 'Dancing Script', cursive;

    font-family: 'Noto Sans Mono', monospace;

    font-family: 'Poppins', sans-serif;

    font-family: 'Rubik Microbe', cursive;
*/

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.15rem;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(94, 198, 224, 0.8);
}

a:hover, a:focus {
    color: yellow;
    cursor: pointer;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    display: inline-block;
    max-height: 100%;
    max-width: auto;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
}

button > i {
    padding: 0px 6px 0px 4px;
}

header {
    z-index: 12;
    position: sticky;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
}

header .nav-bar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(198, 211, 208, 0.6);
    min-height: auto;
}

.nav-bar .brand {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.brand #logo {
    max-width: 6.4em;
    height: auto;
    padding: 8px 4px 8px 0px;
}

.brand #site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-bar .nav-menu {
    display: flex;
    align-items: center;
    justify-items: center;
}
    
.nav-menu .menu-items {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding-right: 4px;
    font-size: 0.9rem;
    font-weight: 200;
}

.nav-bar .menu-items li {
    padding: 0 10px 0 8px;
    gap: 4px;
}

.nav-bar .nav-menu > button {
    font-size: 0.95rem;
    border-radius: 4px;
}

.nav-bar .nav-menu > button:hover,
.nav-bar .nav-menu > button:focus {
    z-index: 2;
    font-weight: bold;
    color: rgb(255, 72, 0);
}

.nav-bar .nav-menu > button::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.2);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
}

.nav-bar .nav-menu > button:hover::before,
.nav-bar .nav-menu > button:focus::before {
    transform: scaleX(1);
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    background-color: rgba(170, 175, 174, 0.6);
}

.hero {
    position: relative;
    display: flex;
}

.hero-hook {
    position: relative;
    padding: 0em 1.2em 0.2em 1.5em;
    background-color: rgba(0, 255, 255, 0.2);
    overflow: hidden;
}

.hero-hook .animated {
    font-family: 'Rubik Microbe', cursive;
    color: blue;
    font-size: 2.5em;
}

.animated-text {
    animation: color-animation 4s linear infinite;
}

.animated-text-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.animated-text-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

.animated-text-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

footer {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Noto Sans Mono', monospace;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: rgba(51, 51, 61, 0.6);
    gap: 4px;
    padding: 0em 0.75em 0.2em 1.5em;
}

.footer-content li {
    display: flex;
    align-items: center;
    padding: 0.5em 0em 0.5em 0em;
}

.footer-bio {
    position: relative;
    border: 4px solid rgba(82, 160, 190, 0.8);
    border-radius: 10%;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.7em 0.5em 0.5em 0.5em;
    background-color: rgba(97, 187, 166, 0.35);
    min-height: fit-content;
    max-width: auto;
}

#fine-prints {
    font-size: 0.8rem;
}

.footer-flag {
   position: relative;
   display: flex;
   border: 3px solid rgba(82, 160, 190, 0.8);
   margin: 0.5em 0em 0.5em 0em;
   align-items: center;
}

.footer-flag > img {
    max-width: 18em;
    height: auto;
    object-fit: contain;
}

.footer-social-media {
    position: relative;
    border: 4px solid rgba(82, 160, 190, 0.8);
    border-radius: 10%;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.7em 0.5em 0.5em 0.5em;
    background-color: rgba(97, 187, 166, 0.35);
    min-height: fit-content;
    max-width: auto;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 0.9rem;
    background-color: rgba(51, 51, 61, 0.8);
}